<nav class="navbar bg-dark border-bottom navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand text-white" href="/">ADMIN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between" id="navbarNavAltMarkup">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" asp-controller="Dashboard"
                        asp-action="Index">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" asp-controller="Game" asp-action="Index">Games
                        (@await Component.InvokeAsync("GameSummary"))</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" asp-controller="Category"
                        asp-action="Index">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" asp-controller="Order"
                        asp-action="Index">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" asp-controller="Role"
                        asp-action="Index">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" asp-controller="User"
                        asp-action="Index">Users</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a target="_blank" class="nav-link text-white" aria-current="page" asp-area=""
                        asp-controller="Home" asp-action="Index">
                        <i class="fa fa-solid fa-seach"></i>
                        Web</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" asp-area=""
                        asp-controller="Account" asp-action="Logout">
                        <i class="fa-solid fa-right-from-bracket"></i>Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>