<div class="text-center text-danger my-5">
    <i class="fa fa-solid fa-bug-slash"></i>
    <br>
    <h3 class="display-3">Access denied/</h3>
</div>

<div cite="text-center my-5">
    <div class="lead my-5">
        You have no permission to access this page.
    </div>
    <div class="btn-group my-5">
        <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Home</a>
        <a class="btn btn-outline-secondary" asp-controller="Product" asp-action="Index">Products</a>
        <a class="btn btn-outline-secondary" asp-page ="/contact" asp-action="Index">Contact</a>
    </div>
</div>